<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macros to generate standoffs for offset payload mounting. -->
  <xacro:include filename="accessories/standoffs.urdf.xacro" />

  <!-- This optional plate mounts both the upgraded GPS and the Velodyne 3D LIDAR. -->
  <xacro:include filename="accessories/bridge_plate.urdf.xacro" />

</robot>
