<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- This file can be edited to provide non-standard accessories. There
       must be a file in the config folder that sets the required variable to 1.
       The accessory can then be enabled by setting the 'config' argument in the
       launch files. -->
  
    <!-- Box with AprilTag markers on each face, lifted up slightly. -->
    <xacro:if value="$(optenv SHEFFIELD_ROBOT 0)">
      <xacro:include filename="$(find shef04_jackal)/urdf/jackal_description.urdf.xacro" />
    </xacro:if>
</robot>
