<?xml version="1.0"?>
<!--

MIT License Agreement

Description of the base link for the robot platform.

\authors Swapnil Kalhapure <kalhapure.swapnil@gmail.com>

\maintainer Swapnil Kalhapure <kalhapure.swapnil@gmail.com>

-->
<launch>

    <master auto="start" />
    <arg name="scan" default="/scan" />
    <arg name="base" default="base_link" />
    <arg name="odomf" default="odom" />
    <arg name="mapf" default="map" />
    <param name="/use_sim_time" value="true" />
    <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
        <remap from="scan" to="$(arg scan)" />
        <param name="delta" value="0.01" />
        <param name="xmin" value="-25" />
        <param name="xmax" value="25" />
        <param name="ymin" value="-25" />
        <param name="ymax" value="25" />
        <param name="base_frame" value="$(arg base)" />
        <param name="map_frame" value="$(arg mapf)" />
        <param name="odom_frame" value="$(arg odomf)" />
        <param name="linearUpdate" value="0.5" />
        <param name="angularUpdate" value="0.436" />
        <param name="temporalUpdate" value="-1.0" />
        <param name="resampleThreshold" value="0.5" />
        <param name="particles" value="80" />
    </node> 
   
</launch>