<?xml version="1.0"?>
<!--

MIT License Agreement

Description of the jackal workspace for the multi-agent payload transport project.

\authors Swapnil Kalhapure <kalhapure.swapnil@gmail.com>

\maintainer Swapnil Kalhapure <kalhapure.swapnil@gmail.com>

-->
<launch>
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="load_map" default="true" />
    <arg name="rviz" default="true" />
    <arg name="headless" default="false" />
    <arg name="world_name" default="$(find jackal_workspace)/world/stage_one.world" />

    <!-- Launch Gazebo with the specified world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="0" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="world_name" value="$(arg world_name)" />
    </include>

    <!-- Spawn the robots. -->
    <include file="$(find multi_jackal_base)/launch/jackal_base.launch">
        <arg name="ns" value="jackal0" />
        <arg name="config" value="sheffield_robots" />
        <arg name="config_id" value="0" />
        <arg name="use_move_base" value="false" />
    </include>
    
    <include file="$(find multi_jackal_base)/launch/jackal_base.launch">
        <arg name="ns" value="jackal1" />
        <arg name="config" value="sheffield_robots" />
        <arg name="config_id" value="1" />
        <arg name="use_move_base" value="false" />
        <arg name="y" value="-2" />
    </include>

    <!-- View in RVIZ. -->
    <group if="$(arg rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find jackal_workspace)/rviz/rviz.rviz">
            <!-- <remap from="/move_base_simple/goal" to="/$(arg ns)/move_base_simple/goal" /> -->
        </node>
    </group>

    <rosparam param="jackal0/jackal_velocity_controller/left_wheel" >[jackal0/front_left_wheel, jackal0/rear_left_wheel] </rosparam>
    <rosparam param="jackal0/jackal_velocity_controller/right_wheel" >[jackal0/front_right_wheel, jackal0/rear_right_wheel]</rosparam>
    <rosparam param="jackal1/jackal_velocity_controller/left_wheel" >[jackal1/front_left_wheel, jackal1/rear_left_wheel] </rosparam>
    <rosparam param="jackal1/jackal_velocity_controller/right_wheel" >[jackal1/front_right_wheel, jackal1/rear_right_wheel]</rosparam>

    <!-- View in RVIZ. -->
    <group if="$(arg load_map)">
        <node name="map_server" pkg="map_server" type="map_server" args="$(find jackal_workspace)/map/stage_one.yaml" />
        <!-- <node name="static_tf_pub" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /map /odom 50" output="screen" /> -->
    </group>
</launch>