<?xml version="1.0"?>

<!-- This is generates a Jackal in gazebo. It must have a unique namespace in 
     order to generate multiple Jackals. The default position can be specified. -->

<launch>
  <!-- Arguments to set the namespace, start position. -->
  <arg name="ns" default="jackal0" /> <!-- Must be unique for each robot. -->
  <arg name="x" default="0" />
  <arg name="ons1" default="jackal1" />
  <arg name="ons2" default="jackal1" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="roll" default="0" />
  <arg name="pitch" default="0" />
  <arg name="yaw" default="0" />
  <arg name="config" default="base" /> <!-- options in description/urdf/configs-->
  <arg name="config_id" default="0" />
  <arg name="use_move_base" default="false" /> <!-- Allows navigation to a location. -->
  <arg name="use_global_tf" default="false" />
  <arg name="use_global_ekf" default="false" /> <!-- Uses GPS instead of a static 0,0,0 TF -->
  <arg name="gps_rate" default="1" />
  <arg name="gps_drift" default="0.0001" />
  <arg name="nav" default="false" />
  <arg name="track" default="false" />
  <arg name="off" default="0.0"/>

  <!-- Launch the control portion of the Jackal robot. -->
  <include file="$(find multi_jackal_control)/launch/jackal_control.launch">
    <arg name="ns" value="$(arg ns)" />
  </include>

  <!-- Generate the model for gazebo and publish the robots joint states. -->
  <include file="$(find multi_jackal_description)/launch/jackal_description.launch">
    <arg name="ns" value="$(arg ns)" />
    <arg name="config" value="$(arg config)" />
    <arg name="config_id" value="$(arg config_id)" />
    <arg name="gps_rate" value="$(arg gps_rate)" />
    <arg name="gps_drift" value="$(arg gps_drift)" />
  </include>
  <!-- 
  <node name="interpolator" pkg="tracking_pid" type="path_interpolator">
    <param name="target_x_vel" value="0.2" />
    <param name="target_x_acc" value="1.0" />
  </node> -->

  <!-- PID controller -->
  <group ns="$(arg ns)">
    <group if="$(arg nav)">
      <node name="global_planner" pkg="jackal_workspace" type="GlobalPlanner.py" output="screen">
        <remap from="/odometry" to="/$(arg ns)/jackal_gazebo_odom" />
      </node>

      <node name="local_planner" pkg="jackal_workspace" type="LocalPlanner.py" output="screen">
        <remap from="/other_agent1" to="/$(arg ons1)/jackal_gazebo_odom" />
        <remap from="/other_agent2" to="/$(arg ons2)/jackal_gazebo_odom" />
        <remap from="/odometry" to="/$(arg ns)/jackal_gazebo_odom" />
        <remap from="/pallet_pose" to="/pallet_pose" />
        <param name="robot_namespace" value="$(arg ns)" />
      </node>

      <node name="$(arg ns)_controller" pkg="tracking_pid" type="controller" output="screen">
        <remap from="move_base/cmd_vel" to="/$(arg ns)/jackal_velocity_controller/cmd_vel" />
        <remap from="/path" to="/$(arg ns)/path" />
        <remap from="local_trajectory" to="/$(arg ns)/trajectoryy" />
        <param name="controller_debug_enabled" value="True" />
        <param name="base_link_frame" value="$(arg ns)/base_link" />
        <param name="map_frame" value="map" />
        <param name="l" value="0.05" />
      </node>
    </group>

    <group if="$(arg track)">
      <node name="global_planner" pkg="jackal_workspace" type="GlobalPlanner.py" output="screen">
        <remap from="/odometry" to="/$(arg ns)/jackal_gazebo_odom" />
      </node>

      <node name="local_planner" pkg="jackal_workspace" type="LocalPlanner.py" output="screen">
        <remap from="/other_agent1" to="/$(arg ons1)/jackal_gazebo_odom" />
        <remap from="/other_agent2" to="/$(arg ons2)/jackal_gazebo_odom" />
        <remap from="/odometry" to="/$(arg ns)/jackal_gazebo_odom" />
        <remap from="trajectory" to="shit_topic" />
        <remap from="/pallet_pose" to="/pallet_pose" />
        <param name="robot_namespace" value="$(arg ns)" />
      </node>

      <node name="trackkerbhau" pkg="jackal_workspace" type="straightline.py" output="screen">
        <remap from="/jackal_gazebo_odom" to="/jackal1/jackal_gazebo_odom" />
        <remap from="/odom_test" to="/$(arg ns)/odom_test" />
        <remap from="/trajectory" to="/$(arg ns)/trajectory" />
        <param name="offset" value="$(arg off)" />
      </node>

      <node name="$(arg ns)_controller" pkg="tracking_pid" type="controller" output="screen">
        <remap from="move_base/cmd_vel" to="/$(arg ns)/jackal_velocity_controller/cmd_vel" />
        <remap from="/path" to="/$(arg ns)/path" />
        <remap from="local_trajectory" to="/$(arg ns)/trajectory" />
        <param name="controller_debug_enabled" value="True" />
        <param name="base_link_frame" value="$(arg ns)/base_link" />
        <param name="map_frame" value="map" />
        <param name="l" value="0.05" />
      </node>
    </group>


  </group>

  <!-- Start the jackal navigation. -->
  <include file="$(find multi_jackal_nav)/launch/jackal_nav.launch">
    <arg name="ns" value="$(arg ns)" />
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="z" value="$(arg z)" />
    <arg name="roll" value="$(arg roll)" />
    <arg name="pitch" value="$(arg pitch)" />
    <arg name="yaw" value="$(arg yaw)" />
    <arg name="use_move_base" value="$(arg use_move_base)" />
    <arg name="use_global_tf" value="$(arg use_global_tf)" />
    <arg name="use_global_ekf" value="$(arg use_global_ekf)" />
  </include>

  <!-- Spawn the model into gazebo. -->
  <node name="spawn_create_model" pkg="gazebo_ros" type="spawn_model" ns="$(arg ns)" args="-x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)
    -urdf -param /$(arg ns)/robot_description -model $(arg ns)" />

</launch>